@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Noto Sans', system-ui, sans-serif;
  --font-heading: 'Montserrat', sans-serif;
}

:root {
  font-family: 'Noto Sans', system-ui, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}
